body {
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    overflow: hidden;
}

.header {
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: #444;
  color: #fff;
  position: absolute;
  top: 0;
}

.map {
  position: absolute;
  left: 440px;
  right: 0;
  bottom: 0;
  top: 50px;
}

.sidebar {
  position: absolute;
  left: 0px;
  width: 440px;
  top: 50px;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
  overflow-y: auto;
}

#toggle-sidebar {
  position: absolute;
  right: 10px;
  top: 60px;
  z-index: 200;
  padding: 6px 10px;
  background-color: #057071;
  border: 0;
  color: #fff;
  display: block;
}

@media screen and (min-width: 480px) and (max-width: 800px) {

}

@media screen and (max-width: 479px) {

}
