body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

.map {
    position: absolute;
    right: 0px;
/*    left: 340px;*/
    left:0;
    height: 100%;
    top: 0;
}

.sidebar {
  z-index:500;
  position:absolute;
  left:44px;
  top:0;
  right:10px;
  display:none;
}

.shape {
  display:inline-block;
  box-sizing: content-box;
  margin: 10px 0 0 10px;
  padding:10px;
  background-color:white;
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0.2);

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.shape:hover {
  background-color:rgb(244,244,244) !important;
  cursor:pointer;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    font-weight: normal;
    color: #666;
    margin-top: 10px,
}

.street-selected path {
  -webkit-animation: active 5s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes active {
    0% {opacity: 1;}
    50% {opacity: 1; stroke-width: 10;}
    100% {opacity: 1;}
}
