/* =================
Add more styles here!
================= */

body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

.school {
  background-color: #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

#map {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    top: 0;
}

#button-reset {
  background-color: tomato;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 54px;
  z-index: 2000;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-weight: 900;
  display: none;
}
