/* =================
Add more styles here!
================= */

body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  opacity:0.5;
}

.school {
  background-color: #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

#map {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    top: 0;
}

.button-reset {
  font-weight:bold;
}

.reset-popup {padding:6px 10px;}
