/* =================
Add more styles here!
================= */

body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}


#map {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    top: 0;
    z-index: 1;
}

#button-reset {
  position: absolute;
  top: auto;
  left:20px;
  right: auto;
  bottom: 20px;
  background-color: #1c6fb9;
  margin: auto;
  padding: 11px 22px;
  text-align: center;
  z-index: 100;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-weight: 900;
  display: block;
}
